<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjh.backend.mapper.CartMapper">

    <resultMap id="BaseResultMap" type="com.cjh.backend.entity.Cart">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="productId" column="product_id" jdbcType="BIGINT"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,product_id,
        quantity,create_time,update_time
    </sql>

    <select id="selectCartListByUserId" resultType="com.cjh.backend.dto.Cart.CartListDto">
        SELECT
        c.id, c.product_id, c.quantity, c.create_time,
        p.title AS product_title,
        p.price
        FROM tradelens.cart c
        LEFT JOIN tradelens.product p ON c.product_id = p.id
        WHERE c.user_id = #{userId}
        ORDER BY c.create_time DESC
    </select>

</mapper>
