<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjh.backend.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.cjh.backend.entity.Comment">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="productId" column="product_id" jdbcType="BIGINT"/>
            <result property="orderId" column="order_id" jdbcType="BIGINT"/>
            <result property="score" column="score" jdbcType="TINYINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,product_id,
        order_id,score,content,
        create_time
    </sql>

    <!-- 商品评价列表 - 联表查询用户信息 -->
    <select id="selectCommentsByProductId" resultType="com.cjh.backend.dto.Comment.CommentListDto">
        SELECT
            c.id,
            c.user_id,
            u.nickname,
            u.avatar,
            c.score,
            c.content,
            c.create_time
        FROM tradelens.comment c
                 LEFT JOIN tradelens.user u ON c.user_id = u.id
        WHERE c.product_id = #{productId}
        ORDER BY c.create_time DESC
    </select>

</mapper>
